Resources/*
*
*.*
!Makefile
!*.tex
!*.bib
!*.cls
!*.sty
!*.sh
!Images/
!Images/*.sh
!Images/**
!Images/**/*.svg
!Images/**/*.eps
Images/**/*.pdf

!piano-progetto/

!requirements
!requirements/*.py
!requirements/README.md
!requirements/generated
!requirements/generated/yaml
!requirements/generated/templates
!requirements/generated/yaml/*.yaml

!use-case-model
!use-case-model/*.py
!use-case-model/README.md
!use-case-model/generated
!use-case-model/generated/yaml
!use-case-model/generated/templates
!use-case-model/generated/yaml/*.yaml

!analisi-sistema

!design-sistema

!test-plan
!test-plan/*.py
!test-plan/README.md
!test-plan/generated
!test-plan/generated/yaml
!test-plan/generated/templates
!test-plan/generated/yaml/*.yaml

!Dia
!Dia/*.dia

!VisualParadigm
!VisualParadigm/*.vpp
