Resources/*
*
*.*
!Makefile
!*.tex
!*.bib
!*.cls
!*.sty
!*.sh
!Images/
!Images/*.sh
!Images/**
!Images/**/*.svg
!Images/**/*.eps

!piano-progetto/

!requirements
!requirements/*.py
!requirements/README.md
!requirements/generated
!requirements/generated/yaml
!requirements/generated/templates
!requirements/generated/yaml/*.yaml

!use-case-model
!use-case-model/*.py
!use-case-model/README.md
!use-case-model/generated
!use-case-model/generated/yaml
!use-case-model/generated/templates
!use-case-model/generated/yaml/*.yaml

!analisi-sistema

!design-sistema

!test-plan

