Resources/*
*
*.*
!Makefile
!*.tex
!*.bib
!*.cls
!*.sty
!*.sh
!Images/
!Images/*.svg
!Images/*.eps

!requirements
!requirements/*.py
!requirements/README.md
!requirements/generated
!requirements/generated/yaml
!requirements/generated/templates
!requirements/generated/yaml/*.yaml


